<!DOCTYPE html>

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/styles.css" rel="stylesheet" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>@Html.ActionLink("MvcReportViewer Sample", "Index", "Home")</li>
                <li>@Html.ActionLink("MvcReportViewerFluent Sample", "Fluent", "Home")</li>
                <li>@Html.ActionLink("Excel Report", "DownloadExcel", "Home")</li>
                <li>@Html.ActionLink("Word Report", "DownloadWord", "Home")</li>
                <li>@Html.ActionLink("PDF Report", "DownloadPdf", "Home")</li>
                <li>@Html.ActionLink("Image Report", "DownloadImage", "Home")</li>
            </ul>
        </nav>
        <article>
            <section>
                <code>
                    @RenderSection("Code", false)
                </code>
            </section>
            <section>
                @RenderBody()
            </section>
        </article>
    </body>
</html>